<div class="con-top">
    <h3 style="text-align:center;">👨🏽‍💻 👨‍🎓 @Resources.Resources.HomePageWelcomeMessage 👨‍🎓 👨🏽‍💻</h3>
    <p>
        @Html.Raw(Resources.Resources.StajdaÖğrendiklerimİlkParagraf.Replace("strongg", "strong"))
    </p>
    <p>
        @Html.Raw(Resources.Resources.StajdaÖğrendiklerimİkinciParagraf.Replace("strongg", "strong"))
    </p>
    <p>
        @Html.Raw(Resources.Resources.StajdaÖğrendiklerimÜcüncüParagraf.Replace("strongg", "strong"))
        <strongg>HTML</strongg>, <strongg>CSS</strongg>, <strongg>JavaScript</strongg> ve <strongg>jQuery</strongg> gibi web teknolojilerinde de kendimi geliştirme şansı buldum.
    </p>
    <p>
        @Html.Raw(Resources.Resources.StajdaÖğrendiklerimDördüncüParagraf.Replace("strongg", "strong"))
    <p>
        @Html.Raw(Resources.Resources.StajdaÖğrendiklerimBesinciParagraf.Replace("strongg", "strong"))
    </p>
    <p>
        @Html.Raw(Resources.Resources.StajdaÖğrendiklerimAltıncıParagraf.Replace("strongg", "strong"))
    </p>
</div>
